extends ../shared/template

block content
  h1 Node-Tunes Albums

  form(method='POST', action='/albums' enctype='multipart/form-data')
    input(type='text', name='name', placeholder='Name')
    select(name='artistId')
        option Artist
        each artist in artists
          option(value=artist._id)= artist.name
    input(type='file', name='albumPhoto')
    button Add Album

  each album in albums
    h3
      a(href='/albums/#{album._id}')= album.name
    p= album.artist.name
    img(src='/img/#{album.name}/#{album.photo.originalFilename}')
    form(method='POST', action='/albums/#{album._id}')
          input(type='hidden', name='_method', value='DELETE')
          button X
